body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #343a40;
}

h1, h2, h4 {
    color: #f8f9fa;
}

.card {
    margin: 10px;
    background-color: #f8f9fa;
    border: 1px solid #343a40;
    border-radius: 10px;
}

.card-title {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.about-me, .education, .skills, .projects, .contact {
    background-color: #e9ecef;
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}
